<form class="search-form">
  <mat-form-field class="search-full-width">
    <input [(ngModel)]="audio_sound" matInput placeholder="Audio word" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <span>{{ state.name }}</span> 
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br />

  <button md-raised-button color="primary" (click)="playSound()"> Play Sound </button>

  <mat-slide-toggle
    [checked]="stateCtrl.disabled"
    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
    Disable Input?
  </mat-slide-toggle>

  
</form>